asyncio
atomicwrites
attrs
certifi
chardet
colorama
decorator
future
get
idna
iso-639
iso3166
isodate
lxml
more-itertools
pluggy
post
psutil
public
py
pycryptodome
PySocks
pytest
query-string
requests
six
streamlink
urllib3
websocket-client
youtube-dl