<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>夏色まつり　Unofficial fans website</title>
</head>
<body>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.ref.label }} {{ form.ref(id='my-text-field') }}
    {{ form.submit() }}
</form>
<p>Result：
    {% if ref %}
        Done!
    {% else %}
        {% if form.ref.errors %}
            {{ form.ref.errors }}
        {% endif %}
    {% endif %}
</p>
</body>
<p>Queue<br></p>
<body>
<table border=2>
    <thead>
    <td>ID</td>
    <td>Link</td>
    </thead>
    {% for ref in data_current %}
        <tr>
            <td>{{ ref[0] }}</td>
            <td><a href="{{ ref[1] }}">{{ ref[1] }}</a></td>
        </tr>
    {% endfor %}
</table>
</body>
<p>Past Stream<br></p>
<body>
<table border=2>
    <thead>
    <td>ID</td>
    <td>Title</td>
    <td>Link</td>
    </thead>
    {% for ref in url_current %}
        <tr>
            <td>{{ ref[0] }}</td>
            <td>{{ ref[1] }}</td>
            <td><a href="{{ ref[2] }}">Link</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>